<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Pesquisa...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </li>
        <li>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard fa-fw"></i> Painel de controle</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-edit fa-fw"></i> Cadastros<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("Index","Veiculo")"><i class="fa fa-edit fa-fw"></i> Veículo</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Combustivel")"><i class="fa fa-edit fa-fw"></i> Combustível</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Funcionario")"><i class="fa fa-edit fa-fw"></i> Funcionário</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Motorista")"><i class="fa fa-edit fa-fw"></i> Motorista</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-plus fa-fw"></i> Movimentações (??)<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("Index","Autorizacao")"><i class="fa fa-plus fa-fw"></i> Autorização</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Deslocamento</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Abastecimento</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-plus fa-fw"></i> Manutenção<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Revisão</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Troca de óleo</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Controle de pneus</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Centro de custos</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Documentos</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Contratos</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Relatórios</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Alertas</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-plus fa-fw"></i> Monitoramento<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("Index","NHibernate")"><i class="fa fa-plus fa-fw"></i> NHibernate</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-plus fa-fw"></i> Logs</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
