@model Veiculos.Infra.NHibernate.Paging<Veiculos.Models.Veiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo", "Novo")
</p>
<table class="table">
    <tr>
        <th>
            <span>Ano do modelo</span>
        </th>
        <th>
            <span>Ano de fabricação</span>
        </th>
        <th>
            <span>Marca</span>
        </th>
        <th>
            <span>Modelo</span>
        </th>
        <th>
            <span>Placa</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.List) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnoModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoFabricacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalhar", "Detalhar", new { id = item.Id })
        </td>
    </tr>
}

</table>
