@using Veiculos.Infra.HtmlHelpers
@model Veiculos.Infra.NHibernate.Paging<Veiculos.Models.AutorizacaoCirculacao>

@{
    ViewBag.Title = "Index";
}

<br />

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Veículos
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <span>Número / Ano</span>
                                </th>
                                <th>
                                    <span>Data</span>
                                </th>
                                <th>
                                    <span>Veiculo</span>
                                </th>
                                <th>
                                    <span>Inicio</span>
                                </th>
                                <th>
                                    <span>Termino</span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.List)
                        {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Numero) / @Html.DisplayFor(modelItem => item.Ano)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Veiculo.Placa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Inicio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Termino)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Editar", "Autorizacao", new { id = item.Id }, new { @class = "btn btn-default" })
                                        @Html.ActionLink("Imprimir", "Imprimir", "Autorizacao", new { id = item.Id}, new { @class = "btn btn-default" })
                                    </td>
                                </tr>
                        }
                        </tbody>
                    </table>
                </div>

                <div class="text-right">
                    @Html.Paginas(Model, x => Url.Action("Index", "Autorizacao", new { pagina = x }))
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="text-left">
            <p>
                @Html.ActionLink("Gráfico", "Quantitativo", "Autorizacao", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Novo", "NovoSemId", "Autorizacao", null, new { @class = "btn btn-default" })
            </p>
        </div>
    </div>

</div>
