@model Veiculos.Models.Motorista

@{
    ViewBag.Title = "Detalhar";
}

<div class="row">

    <h2>Detalhar</h2>

    <div>
        <h4>Motorista</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Funcionario.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Funcionario.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Registro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Registro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimeiraHabilitacao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimeiraHabilitacao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Emissao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Emissao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Validade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Validade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observacao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observacao)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>